<h2 font-color='red'> {{ quote }}</h2><p>
<h2 font-color='red'> Total is {{ total }}</h><p>
<h2 font-color='red'> Nowtime is :{% now 'Y-m-d G:i:s' %}</h2><p>
{{ now }}
<h2 font-color='red'>
<a href="#">
{% if hour >= 18 %}
    晚安
{% else %}
    早安
{% endif %}

url(r'^static/(?P<path>.*)$', 'django.views.static.serve',{'document_root': settings.STATIC_ROOT }),

if settings.DEBUG:  
   urlpatterns += patterns('', url(r'^media/(?P<path>.*)$', 'django.views.static.serve', {'document_root': settings.MEDIA_ROOT }),   
        url(r'^static/(?P<path>.*)$','django.views.static.serve',{'document_root':settings.STATIC_ROOT}), )


</h2>
</a>
<p>
